{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<br>
    <div class="container">

    <h2>Inscription</h2>
    <br>
     {{form(regform)}}
    </div>
{% endblock %}
